.conclusao__texto {
  position: absolute;
  z-index: 3;
  top: 553px;
  left: 15%;
  width: 70%;
  font-size: 64px;
  line-height: 80px;
  opacity: 0;
  animation: slide 0.75s 0s linear forwards;
  color: #00335b;
  text-align: center;
}

.conclusao__titulo {
  color: #00335b;
  font-size: 99px;
  margin-bottom: 83px;
}